body {
    background-color: rgba(194, 224, 22, 0.452);
    color:black;
    font-family:cursive;
}
.setting_all {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}
.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box_table {
    margin: 10px;
    border-style:solid;
    padding-left: 15px;
    border-color: green;
    box-shadow: 0 0 20px green;
    border-radius: 30px;
    margin-bottom: 20px;
    padding-right: 40px;
    max-width: 200px;
}

.footer_setting {
    background-color: rgba(6, 168, 0, 0.589);
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 10px;

}
.header_setting {
    text-align: center;
    padding: 10px;
    background-color: rgba(6, 168, 0, 0.589);
    border-radius: 30px;
    padding-left: 20px;
}

img{
    width: 40%;
    border-radius: 20px;
}

@media screen and (max-width: 700px ){
    img{
        width: 100%;
    }
}

@media screen and (max-width: 180px){
    .footer_setting{
        background-color:unset;
    }
}
@media screen and (max-width: 220px){
    .header_setting{
        background-color:unset;
    }
}